body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: url('./images/login-bg.jpg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: rgba(225, 124, 161, 0.9);
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  text-align: center;
  width: 320px;
}

.login-container h2 {
  margin-bottom: 25px;
  color: #333;
}

.login-container input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

.login-container button {
  width: 100%;
  padding: 12px;
  background-color: #860835;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container button:hover {
  background-color: #eb2525;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
